#home, #buy, #sell, #messages, #following,
#notifications {
	padding: 13px 30px;
	background-color: #660000;
}

#messages {
	background-color: #b30059;
}

#messagewrapper a {
	text-decoration: none;
	color: #333333;
}

#messagewrapper li {
	border-top: 1px solid #cccccc;
	width: 425px;
	text-align: left;
	padding: 5px;
	margin: 0 auto;
	list-style-type: none;
	background-color: white;
}

#messagewrapper {
	margin-top: 10px;
}

#msg_container p {
	padding: 5px;
}

#name {
	color: #cc0066;
}

#date {
	color: #003366;
}