#home, #buy, #sell, #messages, #following,
#notifications {
	padding: 13px 30px;
	background-color: #660000;
}

#notifications {
	background-color: #b30059;
}

#notificationwrapper li {
	list-style-type: none;
	text-align: left;
	padding: 5px 20px;
	border-top: 1px solid #cccccc;
}

#notificationwrapper li p {
	padding: 3px 0;
}

#name {
	font-weight: bold;
}