* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0 auto;
	color: #333333;
	font-size: 90%;
}

#title li {
	display: inline;
	text-decoration: none;
}

#title li a {
	text-decoration: none;
}

#page_title {
	margin-left: -270px;
	padding-right: 100px;
	color: white;
	font-size: 2.5em;
}

#home:hover, #buy:hover, #sell:hover, #messages:hover, #following:hover,
#notifications:hover {
	background-color: #b30059;
}

#home, #buy, #sell, #messages, #following,
#notifications {
	padding: 13px 30px;
	background-color: #660000;
	color: yellow;
}

#home {
	background-color: #b30059;
}

#wrapper {
	color: #555555;
	width: 1250px;
	background-color: #eeeeee;
	height: 560px;
	overflow: hidden;
}

#leftbar, #rightbar {
	float: left;
	width: 225px;
	margin-top: 50px;
	background-color: #eeeeee;
	}

#leftbar h1, #rightbar h1 {
	text-transform: uppercase;
	color: #003366;
	text-align: left;
	margin-left: 40px;
	font-size: 1.5em;
}

#recentwrapper, #recommendedwrapper {
	border: 1px solid #aaaaaa;
	width: 200px;
	height: 250px;
	background-color: #cccccc;
}

#recommendedwrapper {
	margin-left: 20px;
}

#leftbar li, #rightbar li {
	text-align: left;
	padding-bottom: 20px;
	list-style-type: none;
	margin-left: 40px;
}

#leftbar ul, #rightbar ul {
	margin-top: 20px;
}

#recentwrapper {
	padding: 5px;
	text-align: left;
}

#recommendedwrapper li a {
	color: green;
	text-decoration: none;
}

#recommendedwrapper ul {
	margin-top: 16px;
}

#recentwrapper a, #recommendedwrapper a{
	text-decoration: none;
}

#recentwrapper p, #recentwrapper img {
	margin-left: 10px;
	padding: 3px;
}

#visit, #refresh {
	color: white;
	background-color: #003366;
	padding: 4px 73px;
}


#leftcontent, #rightcontent{
	width: 399px;
	float: left;
	background-color: white;
	overflow: auto;
	border-right: 1px solid grey;
	height: 590px;
	margin-top: 75px;
}

#leftbar li a, 
#rightbar li a {
	text-decoration: none;
	color: #003366;
}

#leftbar li a:hover, 
#rightbar li a:hover {
	text-decoration: none;
	color: #660000;
}

#postwrapper {
	margin-top: 10px;
}

#postwrapper li {
	border: 1px solid #cccccc;
	width: 320px;
	text-align: left;
	margin: 0 auto;
	list-style-type: none;
	padding: 10px;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

#postwrapper li p {
	padding: 3px;
}

#sellwrapper li a, #buywrapper li a {
	text-decoration: none;
	color: blue;
}

#recentwrapper img {
	padding: 3px;
	height: 220px;
}

#buywrapper ul, #sellwrapper ul {
	color: blue;
	margin-top: 15px;
}
#buywrapper li, #sellwrapper li {
	display: inline;
	border: none;
	padding: 10px;
	padding-right: 20px;
}

#sell_span {
	color: #660000;
}

#buy_span {
	color: #b30059;
}

#sell_lot, #buy_lot {
	background-color: white;
	color: black;
	height: 28px;
	padding: 5px;
	margin-top: -40px;
	position: fixed;
	width: 390px;
	font-size: 1.5em;
	text-align: center;
}

#footer {
	height: 50px;
}