<!DOCTYPE HTML>
<html>

<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'buysell/index.css' %}" media="screen">
	<link rel="stylesheet" type="text/css" href="{% static 'buysell/postfeed.css' %}" media="screen">
	<link rel="stylesheet" type="text/css" href="{% static 'buysell/sell.css' %}" media="screen">

</head>

<body class="bd">

	<div id="title">
		<ul>
			<li><span id="page_title">PANDA</span></li>
			<li><a href="{% url 'buysell:postfeed' account.username %}"><span id="home">Home</span></a></li>
			<li><a href="{% url 'buysell:buy' account.username %}"><span id="buy">Buy</span></a></li>
			<li><a href="{% url 'buysell:sell' account.username %}"><span id="sell">Sell</span></a></li>
			<li><a href="{% url 'buysell:messages' account.username %}"><span id="messages">Messages</span></a></li>
			<li><a href="{% url 'buysell:following' account.username %}"><span id="following">Following</span></a></li>
			<li><a href="{% url 'buysell:notifications' account.username %}"><span id="notifications">Notifications</span></a></li>
		</ul>
	</div>

	<div id="wrapper">

		<div id="leftbar">
			<h1>recent</h1>
			<div id="recentwrapper">
				{% if recent_post %}
					<img src="{{ recent_post.photo.url }}" width="170" height="200" /><br/>
					<a href=""><p><span id="visit">visit</span></p></a>
				{% else %}
					<p><span id="sell_span">No recent post</span></p>
				{% endif %}
			</div>
			<ul>
				<li><a href="{% url 'buysell:search' account.username %}">Search</a></li>
				<li><a href="">Refresh</a></li>
				<li><a href="{% url 'buysell:my_activity' account.username %}">Activity</a></li>
				<li><a href="{% url 'buysell:most_followed' account.username %}">Most Followed</a></li>
				<li><a href="{% url 'buysell:categories' account.username %}">Categories</a></li>
			</ul>
		</div>

			<div id="leftcontent">
			<p id="sell_lot">General Lot</p>
			<div id="postwrapper">
					<ul>{% for post in posts %}
						{% if post.publisher.username == account.username %}
							{% if post.post_identifier == 'buy' %}
								<li id="buywrapper"><p><span id="buy_span">{{ post.publisher.username }}</span>
									posted an item to buy:<span id="buy_span">{{ post.date_posted }}</span></p>
									<p><strong>Item:</strong> <em>{{ post.item }}</em></p>
									<p><strong>Description:</strong> {{ post.description }}</p>
									<p><strong>Price:</strong> {{ post.price }}</p>
									<p><strong>Location:</strong> {{ post.location }}</p>
									<ul>
										<li><a href="{% url 'buysell:comments' account.username post.post_identifier post.id %}">
										<span id="buy_link">Comments</span></a></li>
									</ul>
								</li>
							{% else %}
								<li id="sellwrapper"><p><span id="sell_span">{{ post.publisher.username }}</span>
									posted an item to sell:
									<span id="sell_span">{{ post.date_posted }}</span></p>
									<p><strong>Item:</strong> <em>{{ post.item }}</em></p>
									<p><strong>Description:</strong> {{ post.description }}</p>
									<p><strong>Price:</strong> {{ post.amount }}</p>
									<p><strong>Location:</strong> {{ post.location }}</p>
									<img src="{{ post.photo.url }}" height="300" width="300">
									<ul>
										<li><a href="{% url 'buysell:comments' account.username post.post_identifier post.id %}">
										<span id="sell_link">Comments</span></a></li>
									</ul>
								</li>
							{% endif %}
						{% else %}
							{% if post.post_identifier == 'buy' %}
								<li id="buywrapper"><p><span id="buy_span">{{ post.publisher.username }}</span> 
									posted an item to buy: 	<span id="buy_span">{{ post.date_posted }}</span></p>
									<p><strong>Item:</strong> <em>{{ post.item }}</em></p>
									<p><strong>Description:</strong> {{ post.description }}</p>
									<p><strong>Price:</strong> {{ post.price }}</p>
									<p><strong>Location:</strong> {{ post.location }}</p>
									<ul>
										<li><a href="{% url 'buysell:comments' account.username post.post_identifier post.id %}">
										<span id="buy_link">Comments</span></a></li>
										<li><a href="{% url 'buysell:write_message' account.username 'messages' post.publisher.username %}">
										<span id="buy_link">Send Message</span></a></li>
									</ul>
								</li>
							{% else %}
								<li id="sellwrapper"><p><span id="sell_span">{{ post.publisher.username }}</span>
									posted an item to sell:
									<span id="sell_span">{{ post.date_posted }}</span></p>
									<p><strong>Item:</strong> <em>{{ post.item }}</em></p>
									<p><strong>Description:</strong> {{ post.description }}</p>
									<p><strong>Price:</strong> {{ post.amount }}</p>
									<p><strong>Location:</strong> {{ post.location }}</p>
									<img src="{{ post.photo.url }}" height="300" width="300">
									<ul>
										<li><a href="{% url 'buysell:comments' account.username post.post_identifier post.id %}">
										<span id="sell_link">Comments</span></a></li>
										<li><a href="{% url 'buysell:write_message' account.username 'messages' post.publisher.username %}">
										<span id="sell_link">Send Message</span></a></li>
									</ul>
								</li>
							{% endif %}
						{% endif %}
					{% endfor %}
				</ul>
				<div id="footer"></div>
			</div>
		</div>
		<div id="rightcontent">
			<p id="buy_lot">What do you want to sell?</p>
			<form id="main_column" method="post" action="{% url 'buysell:verify_post' account.username %}" enctype="multipart/form-data">
				{% csrf_token %}
				<label for="name" id="test_label" id="my_label">Name of item</label>
				<input type="text" name="itemName" id="input" />
				<label for="name" id="error_label"><br/>{{ errors.empty_name }}</label><br/>
				<label for="description" id="my_label">Description</label><br/>
				<textarea name="description"></textarea>
				<label for="description" id="error_label"><br/>{{ errors.empty_description }}</label><br/>
				<label for="price" id="my_label">Price</label><br/>
				<input type="text" name="price"/>
				<label for="price" id="error_label"><br/>{{ errors.empty_price }}</label><br/>
				<label for="location" id="my_label">Your current location</label>
				<input type="text" name="location"/>
				<label for="location" id="error_label"><br/>{{ errors.empty_location }}</label><br/>
				<label for="photo">Add Photo</label><br/>
				<input type="file" name="photo"><br/>
				<label for="name" id="error_label"><br/>{{ errors.empty_pic }}</label><br/>
				<input type="submit" value="post" id="submition_id">
			</form>
			<div id="footer"></div>
		</div>


		<div id="rightbar">
			<h1>recommended</h1>
			<div id="recommendedwrapper">
				{% if not recommended %}
					<p><span id="sell_span">No recommedations</span></p>
				{% else %}
					<ul>
						{% for product in recommended %}
							<li><a href="">{{ product.item }}</a></li>
						{% endfor %}
					</ul>
					<a href=""><p><span id="refresh">refresh</span><p></a>
				{% endif %}
			</div>
			<ul>
				<li><a href="{% url 'buysell:my_account' account.username %}">My account</a></li>
				<li><a href="{% url 'buysell:signup' %}">Create New Account</a></li>
				<li><a href="{% url 'buysell:terms' account.username %}">Terms and conditions</a></li>
				<li><a href="{% url 'buysell:feedback' account.username %}">Feed back</a></li>
				<li><a href="{% url 'buysell:settings' account.username %}">Settings</a></li>
				<li><a href="{% url 'buysell:index' %}">Log out</a></li>
		</div>

	</div>

</body>

</html>